# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\HocTap\Test\server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
